<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}} - 3BsBot</title>
  <link rel="shortcut icon" type="image/png" href="img/3bsbot.png"/>
  <link rel="stylesheet" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="/push.js/bin/push.min.js" charset="utf-8"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="semantic/dist/semantic.min.js" charset="utf-8"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <script src="js/bodymovin.min.js" charset="utf-8"></script>
</head>

<body>
  <div class="ui top fixed inverted menu">
    <a class="item" href="/">
      <img src="/img/3bsbot.png">
    </a>
    {{#if user}}
    <a class="item red" id="index" href="/"><i class="home icon"></i> Home</a>
    <a class="item red" id="config" href="/config"><i class="configure icon"></i> Configuraci&oacute;n</a>
    <a href="/bet" class="item red" id="bets">Apuestas</a>
    <div class="right menu">
      <div class="ui dropdown item">
        <img class="ui avatar image" src="{{user.logo}}">&nbsp;
        <span>{{user.display_name}}</span>
        <div class="menu">
          <div class="item">
            <a class="ui labeled icon button red" href="/logout">
              <i class="sign out icon"></i>
              LogOut
            </a>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  <div class="body">
    {{{body}}}
  </div>
  <script type="text/javascript">
    $('.ui.dropdown').dropdown();
  </script>
</body>

</html>
