<div class="ui twelve column centered grid" style="margin-top: 20px">
  <div class="ten wide column">
    <div class="ui segment">
      <h2 class="ui header">Crear Apuesta</h2>
      <div class="ui divider"></div>
      <form action="/genBet" class="ui form" method="post">
        <div class="three fields">
          <div class="field">
            <label>Nombre</label>
            <input type="text" name="betName" value="" placeholder="Nombre">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Bet A
              </div>
              <input type="text" name="betA" required="" placeholder="Opcion 1">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                Bet B
              </div>
              <input type="text" name="betB" required="" placeholder="Opcion 2" onchange="checkInput('#makebet')">
            </div>
          </div>
        </div>
        <div class="ui right aligned grid">
          <div class="right floated right aligned six wide column">
            <button type="submit" name="button" class="ui button disabled" id="makebet" onclick="loading()">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function() {
    inPage('#bets');
  }
</script>
