<div class="ui twelve column centered grid" style="margin-top: 20px">
  <div class="ten wide column">
    <form action="/config" class="ui form" method="post">
      <div class="ui segment">
        <h2 class="ui header">
          Twitch Channel
        </h2>
        <div class="ui divider"></div>
        <div class="fields">
          <div class="field">
            <div class="ui labeled input disabled">
              <div class="ui label">
                http://twitch.tv/
              </div>
              <input type="text" placeholder="Ej: osirisfrik" name="canal" required="" value="{{canal}}">
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <h2 class="ui header">
          Firebase Config
        </h2>
        <div class="ui divider"></div>
        <div class="two fields">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                apiKey:
              </div>
              <input type="text" name="apiKey" value="{{apiKey}}" required="" placeholder="apiKey">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                authDomain:
              </div>
              <input type="text" name="authDomain" value="{{authDomain}}" required="" placeholder="authDomain">
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                databaseURL:
              </div>
              <input type="text" name="databaseURL" value="{{databaseURL}}" required="" placeholder="databaseURL">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                projectId:
              </div>
              <input type="text" name="projectId" value="{{projectId}}" required="" placeholder="projectId">
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                storageBucket:
              </div>
              <input type="text" name="storageBucket" value="{{storageBucket}}" required="" placeholder="storageBucket">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">
                messagingSenderId:
              </div>
              <input type="text" name="messagingSenderId" value="{{messagingSenderId}}" required="" placeholder="messagingSenderId" onchange="checkInput('#important')" section="#important">
            </div>
          </div>
        </div>
      </div>
      <div class="ui right aligned grid">
        <div class="right floated right aligned six wide column">
          <button type="submit" name="button" class="ui button disabled" id="important" onclick="loading()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  window.onload = function() {
    inPage('#config');
  }
</script>
