<div class="ui twelve column centered grid" style="margin-top: 20px">
  <div class="ten wide column">
    <div class="ui tall stacked center aligned segment">
      <span id="login">
        <img src="img/3bsbot.png" alt="" class="logo"><br>
        <h2 class="ui header"><b>FrikBot</b></h2>
        <a href="/auth/twitch" class="ui labeled icon button purple" onclick="loading()"><i class="twitch icon"></i> Login</a>
      </span>
      <span id="loading" class="invisible">
        <div style="display:inline-block;" class="bodymovin" data-bm-path="img/data.json" data-bm-renderer="svg"></div>
      </span>
    </div>
  </div>
</div>
