<div class="ui twelve column centered grid" style="margin-top: 20px">
  <div class="ten wide column">
    <div class="ui tall stacked center aligned segment">
      <img src="img/3bsbot.png" alt="" class="logo"><br>
      <h2 class="ui header"><b>FrikBot</b></h2>
      <h3 class="ui header">Gracias por usar FrikBot</h3>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.onload = function () {
    setTimeout(function () {
      window.location.href = '/';
    }, 10000);
  }
</script>
